<p>Hey <%= @assignor.first_name %>,</p>

<p><%= @assignee.full_name %> marked the following task that you assigned back to incomplete:</p>

<p>
  <ul style="list-style-type: none">
    <li><b>Task Title:</b> <%= @task.title %></li>
    <li><b>Task Description:</b> <%= @task.description %></li>
  </ul>
</p>

<p><%= link_to "Log in", login_url %> and go to Tasks to see more details. </p>

<p>Mahalo,<p>

Imua
