<p>Hey <%= @assignee.first_name %>,</p>

<p><%= @assignor.full_name %> marked the following task you've been assigned complete for you:</p>

<p>
  <ul style="list-style-type: none">
    <li><b>Task Title:</b> <%= @task.title %></li>
    <li><b>Task Description:</b> <%= @task.description.html_safe %></li>
  </ul>
</p>

<p><%= link_to "Log in", app_url + "#/user_assignment/#{@user_assignment.id}" %>
  to see more details. </p>

<p>Mahalo,<p>

Imua
