<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imua</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-resource.js">
    </script>    -->

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <script type="text/javascript" src="//use.typekit.net/nck0oiv.js"></script>
    <!--<script type="text/javascript" src="//use.typekit.net/kmx1vmk.js"></script>-->
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <base href="/">
  </head>
  <body ng-controller="AppController">
    <header ng-controller="HeaderController">
      <div class="wrapper clear">
        <div class="imua-logo left">
          <a href="/">
            <%= image_tag "logo-blue.png", :alt => "IMUA", :height=>'77px', :width=>'77px' %>
          </a>
        </div>

        <nav class="right">
          <ul>
            <% if current_user.super_admin? %>
            <li>
              <a class="js-nav-link" href="#/sa/organizations">Organizations</a>
            </li>
            <% end %>

            <% if current_user.org_admin? %>
            <li>
              <a class="js-nav-link" href="#/organization/<%= current_user.organization_id %>">Users</a>
            </li>
            <% end %>

            <% if current_user.mentor? || current_user.student? %>
            <li>
              <a class="js-nav-link" href="#/dashboard/<%= current_user.id %>">Dashboard</a>
            </li>
            <% end %>

            <% if current_user.student? %>
            <li>
              <a class="js-nav-link" href="#/progress/<%= current_user.id %>">Progress</a>
            </li>
            <% end %>

            <% if !current_user.super_admin? %>
            <li>
              <a class="js-nav-link" href="#/roadmap/">Roadmap</a>
            </li>
            <% end %>

            <li class="dropdown cog js-cog">
              <span class="glyphicon glyphicon-cog"></span>
              <div class="submenu js-submenu">
                <div class="submenu__link">
                  <a class="js-nav-link" href="#/profile/<%= current_user.id %>">Profile</a>
                </div>
                <div class="submenu__link">
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="mask"></div>
    <div data-ng-view></div>
  </body>

  <script>
    $(document).ready(function(){
      hideMenu();

      $('.js-cog').click(function(){
        $('.js-submenu').toggle();

        $('.mask').toggle();
        $('.mask').height($(window).height());
        $('.mask').width($(window).width());
      });

      $('.js-nav-link').click(function(e) {
        hideMenu();

        e.stopPropagation();
      });

      $('.mask').click(function(e) {
        hideMenu();
        e.stopPropagation();
      })

      function hideMenu() {
        $('.js-submenu').hide();
        $('.mask').hide();
      }

    });
  </script>
</html>
