<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imua</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-resource.js">
    </script>    -->

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>    
    <%= javascript_include_tag "application" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <script type="text/javascript" src="//use.typekit.net/nck0oiv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <header>   
      <div class="wrapper clear">   
        <div class="imua-logo left">   
          <a href="/">
            <%= image_tag "imua-wchs.png", :alt => "IMUA - Wai'anae Coast High School" %>
          </a>
        </div>
       
        <nav class="right">   
          <ul>            
            <li><a>Profile</a></li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          </ul>   
        </nav>   
      </div>      
    </header>

    <div class="container">
      <div data-ng-view></div>
    </div> <!-- /container -->
    
  </body>
</html>